* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(39, 72, 30);
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  color: rgb(46,44, 32);
}

.content {
  width: 750px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  background-color: rgb(241,241,239);
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-height: calc(100vh - 2rem);
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
}

.handwriting {
  font-family: handwriting;
  font-size: 5rem;
}

.stacked {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  align-items: center;
  margin-left: 0;
}

.wrap {
  display: flex;
  flex-direction: row;
}

.left-column {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.no-decoration {
  text-decoration: none;
  list-style: none;
}

nav {
  margin-right: 0;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

ul > li {
  margin-left: 0;
  padding-left: 0;
  padding-top: 1rem;
}


@font-face {
  font-family: handwriting;
  font-stretch: expanded;
  src: url("../assets/Roy Handwriting Regular.ttf");
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}